.text-field {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;

    &__label {
        align-self: flex-start;
        width: 120px;
        min-width: 120px;
        margin-right: 40px;
    }

    &__input {
        margin-right: 40px;
        flex-grow: 1;
    }
}